@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    height: 626px;
    width: 310px;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;

}

iframe#tela {
    position: relative;

    top: 83px;
    left: 25px;
    height: 466px;
    width: 262px;
} 

section#redes-sociais {
    text-align: right;
}

section#redes-sociais > div {
    padding-top: 260px;
    margin-right: 20px;
    
}


section#redes-sociais img{
    margin: 10px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 4px #00000080;
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid #ffffff6e;
    box-shadow: 0px 0px 5px 4px #000000b7;
    transform: translate(1px,1px);
    transition: transform .3s, border .1s,box-shadow .3s;
}

#home {
    width: 49px;
    margin-top: 91px;
    margin-left: 131px;
    border-radius: 50%;
    opacity: 0;
    filter: brightness(0);
}

#home:hover {
    opacity: .2;
}
